<?xml version="1.0" encoding="utf-8" ?>
<StreamRecencyConfig xmlns="http://myspace.com/StreamRecencyConfig.xsd"
	type="MySpace.DataRelay.RelayComponent.CacheIndexV3Storage.DomainSpecificConfigs.StreamRecencyConfig, MySpace.DataRelay.RelayComponent.CacheIndexV3Storage">

	<InitialRecencyValue>100</InitialRecencyValue>
	<TimeStampTagName>Timestamp</TimeStampTagName>
	<TypeTagName>ActivityType</TypeTagName>
	<DefaultDecay>0.5</DefaultDecay>
	<TypeDecayMappingCollection>
		
		<TypeDecayMapping>
			<Type>1</Type>
			<Decay>10</Decay>
		</TypeDecayMapping>
		
		<TypeDecayMapping>
			<Type>2</Type>
			<Decay>20</Decay>		
		</TypeDecayMapping>
		
	</TypeDecayMappingCollection>
</StreamRecencyConfig>